/* Input + error wrapper */
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Error message */
.error-text {
  color: #ff6b6b;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0;
  align-self: flex-start;
  margin-left: 30px; /* same as input */
}

/* Overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Dark modal card */
.modal-card {
  background: #2d2d2d; /* dark gray */
  width: 400px;
  max-width: 90%;
  padding: 30px 40px 52px ;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Modal title */
.modal-card h3 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}

/* Form layout */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Inputs */
.modal-form input {
  width: 70%;
  margin: 0 30px;
  padding: 10px 17px ;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #404040;
  color: white;
  font-size: 14px;
}

.modal-form input::placeholder {
  color: #b0b0b0;
}

/* Action buttons container */
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Cancel button */
.btn-cancel {
  background: #6b6b6b;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  flex: 1;
}

.btn-cancel:hover {
  background: #555;
}

/* Create button */
.btn-submit {
  background: #3b82f6; /* blue */
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  flex: 1;
  margin-left: 12px;
}

.btn-submit:hover {
  background: #2563eb;
}
